<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>All Schedules</title>
    <script>
      const schedules = '<%- JSON.stringify(result) %>'
      const parsedSchedules = JSON.parse(schedules)
      console.log(parsedSchedules)
    </script>
  </head>

<body>
  <div id="container">
    <p>sadas</p>
  </div>
</body>
</html>
